{% extends "EIAdminBundle::layout.html.twig" %}

{% block title %}
Catégorie
{% endblock %}

{% block content %}
    
 <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Titre</th>
                                        <th>Contenu</th>
                                        <th>Image</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    
                                        {% for category in listCategory %}
                                            <tr>
                                        <td>{{ category.id }}</td> 
                                        <td>{{ category.title }}</td> 
                                        <td>{{ category.content }}</td>
                                        <td>{{ category.image }}</td>
                                        <td><a href="{{ path('ei_category_editCategory', {'id': category.id}) }}" id="edit" class="btn btn-success">modifier</a>
                                            <a href="{{ path('ei_category_deleteCategory', {'id': category.id}) }}" id="delete" class="btn btn-success">supprimer</a></td>

                                    </tr>
                                        {% endfor %}
                                        
                                        
                                        
                                    
                                </tbody>
                            </table>
                                    
                                    <a href="{{ path('ei_category_addCategory') }}" id="create" class="btn btn-success">Créer une nouvelle catégorie</a>
                        </div>
                    </div>
     
     
     
 </div>

{% endblock %}


