{% extends "EITouristicBundle::layout.html.twig" %}


{% block contentPage %}
    <section class="section-content" id="section-content">
        <h1 class="title-underline">{{ whereTo.title }}</h1>


                <div class="container-fluid choicePartDay">
                    <div class="row mt50">
                        {% for category in whereTo.categories %}
                            <div class="col-sm-4 text-center">
                                <a href="{{ path('ei_touristic_category', {'id': category.id}) }}">
                                 

                                            {% if category.image is not null %}
                                                
                                                 <img class="choiceDayImage" src="{{asset(category.image.webPath)}}" alt="{{ category.image.alt }}" />
                                              {% endif %}

                                    <p class="choiceText">{{ category.title }}</p>
                                    
                                </a>
                            
                            </div>
                        {% endfor %}
                    </div>
                </div>

    </section>
{#{% endfor %}#}
{% endblock %}


